*/
/* Global Styles (Strength: 1) */

p {
  color: blue;
}

/* Class Styles (Strength: 10) */

.alert {
  color: red !important;
  font-size: 1.5em;
}

.catchy {
  color: purple;
}

/* ID Styles (Strength: 100) */

#actions_title {
  font-size: 3em;
  color: aqua;
}

/* An inline style is the most specific rule you can apply. */

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  background-color: aquamarine;
  padding: 0.5em;
}

#header {
  background-color: lightgray;
  height: 10vh;
  text-align: center;
}

#main {
  background-color: bisque;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

#content {
  flex-grow: 2;
  background-color: brown;
}

#actions {
  flex-grow: 1;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer {
  background-color: purple;
  min-height: 10vh;
}

#login-form {
  background-color: green;
}

#register-form {
  background-color: red;
}

@media screen and (max-width: 600px) {
  #main {
    display: flex;
    flex-direction: column-reverse;
    background-color: green;
  }

  #actions {
    background-color: blanchedalmond;
  }

  #login-form {
    background-color: blueviolet;
  }

  #content {
    flex-grow: 1;
  }

  #actions {
    flex-grow: 1;
  }
}
